a {
    font-weight: bold;
}
h2,h3{
    font-weight: bold;
}
.remove_btn{
    color: red;
}
body{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(194,245,255,1) 100%);
    background-repeat: no-repeat;
    background-size: auto;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}